body{
	background-color: #F3CEFE;
}

#barra{
	background-color: #AD49CA;
	margin-top: -15px;
	margin-bottom: 51px;
	height: 110px;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 1px 24px -6px black;
}

a{
	text-decoration: none;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 40px;
}

a:link{
	color: purple;
}

#ingresoLista{
	width: 25%;
	border-radius: 5px;
}

button{
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 15px;
	background-color:whitesmoke;
	width: 130px;
	padding: 5px;	
	border-radius: 6px;
	box-shadow: 1px 2px 29px -10px #716276;
}

button:hover{
	background-color: #C5B0CB; 
	transition: background-color 0.3s;
}

.listas{
	background-color: #BE3DDD;
	width: 30%;
	padding: 0 40px 40px 40px;
	margin: 10px;
	font-family: 'Kalam', cursive;
	font-size: 35px;
	line-height: 30px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	display: inline-block;
}


textarea{
	width: 90%;
	height: 80px;
	color: #4E4D53;
	font-size: 12px;
	padding: 10px;
	border-radius: 10px;
	border: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}


.tareas{
	font-family: 'Alegreya', serif;
	font-size: 20px;
}

li{
	line-height: 15px;
}


img.block{
	width: 165px;
    padding: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}	

